button.longpress {
    display: inline-block;
    position: relative;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    overflow: hidden;
    user-select: none;
}

button.longpress .loader {
    position: absolute;
    background-color: black;
    opacity: 0;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
}

button.longpress .loader.loading {
    animation-duration: 2s;
    animation-name: loading;
}

button.longpress .loader.loaded {
    animation-fill-mode: forwards;
    animation-duration: 200ms !important;
    animation-name: loaded;
}

@keyframes loading {
    0% {opacity: 0%;}
    100% {opacity: 50%;}
}

@keyframes loaded {
    0% {left: auto; opacity: 50%; width: 100%; right: 0}
    100% {left: auto; opacity: 50%; width: 0; right: 0}
}

.longpress span {
    user-select: none;
}